@use "./mixin.scss" as mixin;


.cast-crew-section{
    @include mixin.width-height($h:auto);
    padding: 10px;
    border-radius: 10px;
    background-color: var(--nightdevilpt-secondary-back);

    .lazy-load-image-background{
        @include mixin.width-height();

        img{
            @include mixin.width-height();
            min-height: 240px;
            object-fit: cover;
            border-radius: 5px;
        }
    }

    .castcrew-original-name{
        @include mixin.width-height();
        text-align: center;
        margin-top: 10px;
        color: var(--nightdevilpt-primary-color);
        font-size: 2rem;
    }

    .castcrew-character{
        @include mixin.width-height();
        @include mixin.flex();
        text-align: center;
        color: var(--nightdevilpt-secondary-color);
        font-size: 1.5rem;
        font-weight: bold;
    }

    .castcrew-job{
        @include mixin.width-height();
        @include mixin.flex();
        text-align: center;
        color: var(--nightdevilpt-secondary-color);
        font-size: 1.5rem;
        font-weight: bold;
    }
}